body
{background-color:red;}

img
{
  display: flex;
  padding: auto;
  margin: 0;
  border-radius: 130px;
}

ol
{
list-style: none;
padding: 0;
margin-top: 10%;
font-size: 3em;
display: flex;
justify-content: space-evenly;
}

.list-elements
{color:blueviolet;}


h2:hover{
    transition: 0.6s ease;    
    font-size: 1.6em;
    cursor: pointer;
}
